@font-face {
  font-family: neu;
  src: url(fonts/NeueHaasDisplayMediu.ttf);
}

@font-face {
  font-family: neu;
  font-weight: 100;
  src: url(fonts/NeueHaasDisplayLight.ttf);
}

@font-face {
  font-family: neu;
  font-weight: 200;
  src: url(fonts/NeueHaasDisplayRoman.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: neu;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  position: relative;
  z-index: 10;
  /* background: #000; */
}

/* header section */
#header_section {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  position: relative;
  padding: 0 2vw;
}

#header_section nav {
  padding: 2vw 0;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
  justify-content: space-between;
}

#header_menu-items {
  display: flex;
  align-items: center;
  gap: 1vw;
}

#header_menu-items h4 {
  padding: 10px 20px;
  border: 1px solid #0000003c;
  border-radius: 50px;
  font-weight: 500;
  color: #000000bb;
  position: relative;
  font-size: 18px;
  overflow: hidden;
  transition: all ease 0.4s;
}

#header_menu-items h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}
#header_menu-items h4:hover:after {
  bottom: 0;
  border-radius: 0;
}
#header_menu-items h4 a {
  color: #000000bb;
  text-decoration: none;
  position: relative;
  z-index: 9;
}
#header_menu-items h4:hover a {
  color: #fff;
}

nav h3 {
  display: none;
}

#header_section-center {
  height: 80vh;
  width: 100%;
  /* background-color: orange; */
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #0000003c;
  padding-bottom: 2.5vw;
}

#left h3 {
  width: 25vw;
  font-size: 1.8vw;
  line-height: 2vw;
}

#header_section-center h1 {
  font-size: 10vw;
  text-align: right;
  line-height: 8vw;
}
#header_section-shape {
  position: absolute;
  width: 46vw;
  height: 36vw;
  right: 0;
  top: 85vh;
}

#header_section-shape #shape-1 {
  background-color: #fe320a;
  height: 100%;
  width: 100%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  filter: blur(10px);
  position: absolute;
}

#header_section-shape #shape-2 {
  background: linear-gradient(#fe320a, #fe3f0a);
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  position: absolute;
  animation-name: anime2;
  filter: blur(25px);
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#header_section-shape #shape-3 {
  background: linear-gradient(#fe320a, #fe3f0a);
  height: 30vw;
  position: absolute;
  width: 30vw;
  border-radius: 50%;
  animation-name: anime1;
  filter: blur(25px);
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes anime1 {
  from {
    transform: translate(55%, -3%);
  }
  to {
    transform: translate(0%, 10%);
  }
}

@keyframes anime2 {
  from {
    transform: translate(5%, -5%);
  }
  to {
    transform: translate(-20%, 30%);
  }
}

#header_section video {
  position: relative;
  border-radius: 30px;
  margin-top: 4vw;
  width: 100%;
}

/* about section */
#about_section {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  padding: 8vw 0;
  position: relative;
}

#about_moving-text {
}
